{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
 <header>
        <div class="logo">
           <a href="#"class="mylogo">GPD</a>
        </div>
        <nav>
            <a class="nav-link" href="https://uosci.onrender.com/index">Home</a>
            <a class="nav-link" href="https://uosci.onrender.com/records">Records</a>

            <a class="nav-link" href="https://uosci.onrender.com/contacts">Contact</a>
        </nav>
    </header><br/>
<h1>Welcome to UoSCI</h1>
<p></p>
</body>
</html>